{% extends 'base.html'%}
{% load static %}
{% block content %}
<h3>Menu Items and Recipes</h3>
<table class="table table-striped">
  <tr>
    <th>Price</th>
    <th>Menu item</th>
    <th>Ingredient Requirements</th>
    <th>Delete</th>
  </tr>
  {% for item in menuitems %}
  <tr>
    <td>${{item.price|floatformat:2}}</td>
    <td><a href="{% url 'menu_update' item.id %}">{{item.title}}</a></td>
    <td>{% for req in reqs %}
          {% if req.menu_item.title == item.title %}
            {% if req.ingredient.unit|lower == req.ingredient.name %}
              <p><a href="{% url 'recipe_update' req.id %}">{{req.quantity}} {{req.ingredient.name}}</a><a href="{% url 'recipe_delete' req.id %}"> ✖️</a></p>
            {% else %}
              <p><a href="{% url 'recipe_update' req.id %}">{{req.quantity}} {{req.ingredient.unit|lower}} {{req.ingredient.name}}</a><a href="{% url 'recipe_delete' req.id %}"> ✖️</a></p>
            {% endif %}
          {% endif %}
        {% endfor %}
        <p><a class="btn btn-outline-dark" href="{% url 'recipe_create' %}">Add Ingredient</a></p>
    </td>
    <td><a href="{% url 'menu_delete' item.id %}">✖️</a></td>
  </tr>
  {% endfor %}
</table>
<a class="btn btn-outline-dark" href="{% url 'menu_create' %}">Add New Menu Item<a>
{% endblock %}
